sudo: false
language: python
cache: pip
matrix:
  include:
    - python: "2.6"
      env: TOXENV=py26
    - python: "2.7"
      env: TOXENV=py27
    - python: "3.3"
      env: TOXENV=py33
    - python: "3.4"
      env: TOXENV=py34
    - python: "pypy"
      env: TOXENV=pypy
    - python: 2.7
      env: TOXENV=pep8
    - python: 3.3
      env: TOXENV=py3pep8
before_install:
  pip install codecov
after_success:
  codecov
install:
  - "pip install tox"
script: "tox"
